<footer>
<p>
 <a href="https://twitter.com/juniordotdev"><i id="social-tw" class="fa fa-twitter-square fa-3x social"></i>
 <a href="mailto:hi@junior.dev"><i id="social-em" class="fa fa-envelope-square fa-3x social"></i></a>
</p>
<p>
  This page was generated on {{ site.buildTime | dateDisplay('LLL d, yyyy - HH:mm') }}
</p>
</footer>
