<footer>

<div id="termynal" data-termynal data-ty-typeDelay="40" data-ty-lineDelay="700">
    <span data-ty="input" data-ty-prompt="▲">npm install level-up</span>
    <span data-ty>Are you sure you want to install 'junior-dot-dev'?</span>
    <span data-ty="input" data-ty-typeDelay="1000" data-ty-prompt="(y/n)">y</span>
    <span data-ty="progress" data-ty-progressChar="·"></span>
    <span data-ty>Installed 'junior-dot-dev'</span>
    <span data-ty="input" data-ty-prompt="▲">node</span>
    <span data-ty="input" data-ty-prompt=">">Array(5).fill('🦄 ')</span>
    <span data-ty>['🦄', '🦄', '🦄', '🦄', '🦄']</span>
    <span data-ty="input" data-ty-prompt="▲">cd ~/career</span>
    <span data-ty="input" data-ty-prompt="▲ ~/repos"> git checkout branch review-time</span>
    <span data-ty="input" data-ty-prompt="▲ ~/repos (master)">git commit -m "Promotion"</span>
</div>

<p>
 <a href="https://twitter.com/juniordotdev"><i id="social-tw" class="fa fa-twitter-square fa-3x social"></i>
 <a href="mailto:hi@junior.dev"><i id="social-em" class="fa fa-envelope-square fa-3x social"></i></a>
</p>
<p>
  This page was generated on {{ site.buildTime | dateDisplay('LLL d, yyyy - HH:mm') }}
</p>
</footer>